In [36]:
import pandas as pd
import os
df = pd.read_csv(os.path.join('results','weather_data','weather_datatrain_100_test_50_horizon_10_model_timegpt-1_weather_results.csv'))

In [30]:
import numpy as np
import pandas as pd
from sklearn.metrics import mean_absolute_error, mean_squared_error, mean_absolute_percentage_error

# Assuming df is your DataFrame
# If you haven't loaded the DataFrame, you can load it using pd.read_csv or other pd functions

# Initialize lists to store metrics
maes = []
rmses = []
mapes = []

# Group by 'RollingOrigin' and calculate metrics for each group
for _, group in df.groupby('RollingOrigin'):
    y_true = group['Actual']
    y_pred = group['TimeGPT']
    
    # Calculate metrics
    mae = mean_absolute_error(y_true, y_pred)
    rmse = np.sqrt(mean_squared_error(y_true, y_pred))
    mape = mean_absolute_percentage_error(y_true, y_pred)
    
    # Append metrics to lists
    maes.append(mae)
    rmses.append(rmse)
    mapes.append(mape)

# Calculate the mean and standard deviation of the metrics
mae_mean = np.mean(maes)
mae_std = np.std(maes)
rmse_mean = np.mean(rmses)
rmse_std = np.std(rmses)
mape_mean = np.mean(mapes)
mape_std = np.std(mapes)

# Create a DataFrame to store the results
results = pd.DataFrame({
    'Source': ['df_this_and_that'],
    'MAE': [mae_mean],
    'MAE_std': [mae_std],
    'RMSE': [rmse_mean],
    'RMSE_std': [rmse_std],
    'MAPE': [mape_mean],
    'MAPE_std': [mape_std]
})

print(results)

,RollingOrigin,MAE,MSE,MAPE,Model,Mean_MAE,Mean_MSE,Mean_MAPE,STD_MAE,STD_MSE,STD_MAPE
0,0,1.103178,1.677860,1.099638e-01,weather_datatrain_1000_test_250_horizon_50_wea...,2.250378,8.30042,1.674052e+14,0.906271,5.741232,2.406618e+14
1,1,1.270422,2.187997,1.299738e-01,weather_datatrain_1000_test_250_horizon_50_wea...,2.250378,8.30042,1.674052e+14,0.906271,5.741232,2.406618e+14
2,2,1.354134,2.451301,1.387876e-01,weather_datatrain_1000_test_250_horizon_50_wea...,2.250378,8.30042,1.674052e+14,0.906271,5.741232,2.406618e+14
3,3,1.281243,2.296172,1.304700e-01,weather_datatrain_1000_test_250_horizon_50_wea...,2.250378,8.30042,1.674052e+14,0.906271,5.741232,2.406618e+14
4,4,0.933943,1.459774,8.933504e-02,weather_datatrain_1000_test_250_horizon_50_wea...,2.250378,8.30042,1.674052e+14,0.906271,5.741232,2.406618e+14
...,...,...,...,...,...,...,...,...,...,...,...
196,196,1.846332,5.004113,3.108209e+14,weather_datatrain_1000_test_250_horizon_50_wea...,2.250378,8.30042,1.674052e+14,0.906271,5.741232,2.406618e+14
197,197,1.598619,3.854317,2.784760e+14,weather_datatrain_1000_test_250_horizon_50_wea...,2.250378,8.30042,1.674052e+14,0.906271,5.741232,2.406618e+14
198,198,1.591964,3.755934,2.519833e+14,weather_datatrain_1000_test_250_horizon_50_wea...,2.250378,8.30042,1.674052e+14,0.906271,5.741232,2.406618e+14
199,199,1.676060,4.061529,2.610368e+14,weather_datatrain_1000_test_250_horizon_50_wea...,2.250378,8.30042,1.674052e+14,0.906271,5.741232,2.406618e+14
200,200,1.567453,3.416857,2.370491e+14,weather_datatrain_1000_test_250_horizon_50_wea...,2.250378,8.30042,1.674052e+14,0.906271,5.741232,2.406618e+14

In [20]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, mean_absolute_percentage_error
import numpy as np

# mean absolute error (MAE)
mae = mean_absolute_error(df['Actual'], df['TimeGPT'])

# mean squared error (MSE)
mse = mean_squared_error(df['Actual'], df['TimeGPT'])

# root mean squared error (RMSE)
rmse = np.sqrt(mse)

# mean absolute percentage error (MAPE)
mape = mean_absolute_percentage_error(df['Actual'], df['TimeGPT'])

# put into a dataframe
results = pd.DataFrame({'results_file': [name_of_file],
                        'Mean_absolute_error': [mae],
                        'Mean_squared_error': [mse],
                        'Root_mean_squared_error': [rmse],
                        'Mean_absolute_percentage_error': [mape]})

print(f"Mean absolute error: {mae}")
print(f"Mean squared error: {mse}")
print(f"Root mean squared error: {rmse}")
print(f"Mean absolute percentage error: {mape}")

Mean absolute error: 0.7716780018461186
Mean squared error: 1.1393207572847066
Root mean squared error: 1.067389693263293
Mean absolute percentage error: 1.2883398691746495