In [2]:
from nixtlats import NixtlaClient

API key

In [5]:
from dotenv import load_dotenv
import os

# Set the TimeGPT API key
def set_api_key():
    load_dotenv()
    api_key = os.getenv("NIXTLATS_API_KEY")
    if api_key is None:
        raise ValueError("Please set the NIXTLATS_API_KEY environment variable")

nixtla_client = NixtlaClient(
    # defaults to os.environ.get("NIXTLA_API_KEY")
    api_key = set_api_key()
)

nixtla_client.validate_api_key()

In [15]:
import pandas as pd
import os

# read txt file
path = os.path.join('..','data','climate', 'AMOCdata.txt')
df = pd.read_csv(path, sep="\s+", names=["time", "AMOC0", "AMOC1", "AMOC2", "GM"], skiprows=1)
print(df)

           time     AMOC0     AMOC1     AMOC2        GM
0     1870.0833  0.163951  0.255713  0.347475 -0.091762
1     1870.1667  0.313431  0.473210  0.632988 -0.159778
2     1870.2500  0.204185  0.278375  0.352565 -0.074190
3     1870.3333  0.141020  0.269190  0.397360 -0.128170
4     1870.4167  0.058445  0.276818  0.495190 -0.218373
...         ...       ...       ...       ...       ...
1807  2020.6667  0.353692 -0.055918 -0.465528  0.409610
1808  2020.7500  0.327049 -0.035997 -0.399043  0.363046
1809  2020.8333  0.254533 -0.053563 -0.361658  0.308095
1810  2020.9167 -0.053814 -0.326855 -0.599895  0.273040
1811  2021.0000 -0.091480 -0.318875 -0.546269  0.227395

[1812 rows x 5 columns]

<>:6: SyntaxWarning: invalid escape sequence '\s'
<>:6: SyntaxWarning: invalid escape sequence '\s'
/var/folders/ll/fp10h_1j0d1ddcld2t3r_dpr0000gn/T/ipykernel_80404/1939062458.py:6: SyntaxWarning: invalid escape sequence '\s'
  df = pd.read_csv(path, sep="\s+", names=["time", "AMOC0", "AMOC1", "AMOC2", "GM"], skiprows=1)

In [16]:
df = pd.read_csv('https://raw.githubusercontent.com/Nixtla/transfer-learning-time-series/main/datasets/air_passengers.csv')
df.head()

    timestamp  value
0  1949-01-01    112
1  1949-02-01    118
2  1949-03-01    132
3  1949-04-01    129
4  1949-05-01    121

In [ ]:
nixtla_client.plot(df, time_col='timestamp', target_col='value')